$colors: (
  gradient: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 100%, 98%),
    300: hsl(0, 80%, 86%),
    400: hsl(0, 74%, 74%),
  ),
  primary: (
    100: hsl(0, 36%, 70%),
    200: hsl(0, 93%, 68%),
  ),
  neutral: (
    100: hsl(0, 6%, 24%),
  ),
);
