.container {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

@mixin font($weight) {
  $light: "Josefin Sans Light";
  $thin: "Josefin Sans Thin";
  $semi-bold: "Josefin Sans SemiBold";

  @if $weight == light {
    font-family: $light, sans-serif;
    font-weight: 300;
  } @else if $weight == thin {
    font-family: $thin, sans-serif;
    font-weight: 400;
  } @else if $weight == semi-bold {
    font-family: $semi-bold, sans-serif;
    font-weight: 600;
  }
}

@mixin flex($dir) {
  display: flex;

  @if $dir == col {
    flex-direction: column;
  } @else if $dir == row-rev {
    flex-direction: row-reverse;
  }
}