@use "scss/reset";
@use "scss/fontface.scss";
@use "scss/colors" as *;
@use "scss/utilities.scss" as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

#background {
  height: 100vh;
  background: linear-gradient(
      135deg,
      var(--clr-gradient-100),
      var(--clr-gradient-200)
    ),
    linear-gradient(135deg, var(--clr-gradient-300), var(--clr-gradient-400));
  z-index: -1;

  @include mq(desktop) {
    width: 50%;
    background: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#hero__content__header {
  @include flex();
  height: 5.1875rem;
  align-items: center;

  img {
    width: auto;
    height: 24px;
  }
}

#hero {
  @include flex(column);
  position: relative;
  height: 100vh;

  @include mq(desktop) {
    position: static;
    @include flex(row-reverse);
  }
}

#hero__image {
  position: absolute;
  top: 5.1875rem;

  @include mq(desktop) {
    position: static;
  }
}

#hero__content {
  padding: 0 2rem;
}

#hero__content__article {
  margin-top: 250px;

  @include mq(desktop) {
    margin-top: auto;
  }
}

#hero__content__article__header {
  @include flex(column);
  justify-content: center;  
  align-items: center;
  height: 12.5rem;
}